
.Content {
  margin: o auto;
  width:100%;
  height: 430px;
  overflow: hidden;
}

.Diario, .Mes {
  float: left;
}

.Diario {
  margin-left: 10px;
  width:655px;
  height: 425px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.Mes {
  margin-left: 7px;
  width: 655px;
  height: 425px;
  overflow-x: scroll;
  overflow-y: hidden;
}
