.Header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
  text-align: center;
}

.Logo img {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-title {
  font-size: 1.0em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Menu {
   margin:0;
   padding:0;
   list-style:none;
}

.Menu li {
   display: inline-block;
   padding-right:10px;
}

.Menu li a {
  color: #CCC;
  text-decoration: none;
}


.Menu li a:link, {
color:#3F3;
}

.Menu li a:hover{
color:#F6A516;
}

.Menu li a:active{
color:#F6A516;
}
